*{
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}


/* header styles here */
.header{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header-container{
    text-align: right;
    padding: 150px;
    width: 525px;
    margin-left: auto;
    margin-right: 0;
    
}
.header-title{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}
.header-container p{
    margin-bottom: 32px;
}
.description-text{
    color: #444343;
    line-height: 26px;
}
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    background: #F15B22;
}

/* Own Section - My-Expectations styles*/
.my-expectations{
    max-width: 1140px;
    display: flex;
    margin: 130px auto;
    gap: 100px;
    align-items: center;
    
}
.expectations-info{
    text-align: left;
}
.expectations-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.expectations-info .description-text{
    max-width: 425px;
}

.companies{
    display: flex;
    gap: 100px;
}
.company img{
    width: 50px;
    margin-bottom: 10px;
}
.company-text{
    font-size: 0.6rem;
}





/* Failure section here */

.failures{
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;

}

.failure-article{
    width: 416px;
}
.failure-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.failures .description-text{
    margin-bottom: 16px;
}
.failure-lists li{
    list-style: none;
    margin-bottom: 8px;
}
.failure-lists li img{
    vertical-align: middle;
    padding-bottom: 5px;
    margin-right: 10px;
}


/* My Plans section */

.my-plans{
    margin-top: 130px;
    text-align: center;
}
.plans{
    display: flex;
    gap: 85px;
    justify-content: center;
}
.my-plans-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 55px;
}
.plan-image{
    margin-bottom: 18px;
}
.plans-title{
    margin-bottom: 16px;
}

/* Positive Mind section */
.positive-mind{    
    margin: 130px auto;
    max-width: 1140px;
}
.positive-mind-image-and-content{
    background-image: url('../images/watch.png'), url('../images/gradient2.png');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    padding: 60px 65px;
    border-radius: 8px;
}

.positive-mind-title{
    font-size: 40px;
    color: rgb(255, 255, 255);
    width: 459px;
    margin-bottom: 24px;

}
.positive-mind .btn-primary{
    background-color: white;
    color: #F15B22;
    padding: 20px 36px;

}


/* footer styles here */
.footer{
    background-color: #151414;
    padding: 130px 0;
}

.footer-content{
    color: rgb(223, 214, 214);
    max-width: 1140px;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
}
.footer-info .description-text{
    color: rgb(223, 214, 214);
    max-width: 485px;
    margin-bottom: 24px;

}
.footer-info{

}

.footer-title{
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-icons li{
    display: inline-block;
    list-style: none;
    margin-right: 16px;
    margin-top: 16px;
}

.footer-email, .footer-phone{
    font-size: 1rem;
    margin-bottom: 16px;

}

.footer-subscribe input[type='email']{
    display: block;
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 21px;
    border-radius: 8px;
    /* width: 100%; */
    font-size: 18px;
    background-color: transparent;
    color: rgb(223, 214, 214);
    border: 1px solid rgb(223, 214, 214);
}

.footer-subscribe .footer-title{
    font-size: 25px;
}
input[type="email"]::placeholder{
    color: rgb(223, 214, 214);
}

.footer .btn-primary{
    background-color: #F15B22;
    color: white;
}